@{
    Layout = null;
}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Forget password</title>
<link href="~/css/pass.css" rel="stylesheet" />
<link rel="icon" href="~/img/ICPC.jpeg" type="image/x-icon" class="icon">
<link rel="shortcut icon" href="~/img/ICPC.jpeg" type="image/x-icon">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script>
    $(document).ready(function () {
        toastr.options = {
            "closeButton": true,
            "positionClass": "toast-top-right",
            "progressBar": true,
            "timeOut": 5000
        };

    @if (TempData["Message"] != null)
    {
        @:toastr.success('@TempData["Message"]');
    }
    @if (TempData["ErrorMessage"] != null)
    {
        @:toastr.error('@TempData["ErrorMessage"]');
    }
    });
</script>
<div class="container">
    <span class="circle one1"></span>
    <span class="circle two1"></span>
    <span class="big-circle"></span>
    <h2>  Forgot your password ?</h2>
    <p>Please enter your email address to reset your password </p>
    <form method="post" action="/Account/ForgotPassword">
        <div class="cont-email">
            <input type="email" name="Email" placeholder="ُEmail" required>
        </div>
        <button type="submit">submit</button>
    </form>
    <a href="@Url.Action("User", "Account")">Back To Login</a>
</div>