@{
    Layout = null;
}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Password</title>
<link href="~/css/pass.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet' />
<link rel="icon" href="~/img/ICPC.jpeg" type="image/x-icon" class="icon">
<link rel="shortcut icon" href="~/img/ICPC.jpeg" type="image/x-icon">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script>
    $(document).ready(function () {
        toastr.options = {
            "closeButton": true,
            "positionClass": "toast-top-right",
            "progressBar": true,
            "timeOut": 5000
        };

    @if (TempData["Message"] != null)
    {
        @:toastr.success('@TempData["Message"]');
    }
    @if (TempData["ErrorMessage"] != null)
    {
        @:toastr.error('@TempData["ErrorMessage"]');
    }

    });
</script>
<div class="container">
    <span class="big-circle"></span>
    <h2>Change Your Password</h2>
    <form method="post" action="/Account/ResetPassword">
        <input type="hidden" name="UserId" value="@ViewContext.HttpContext.Request.Query["userId"]" />
        <input type="hidden" name="Token" value="@ViewContext.HttpContext.Request.Query["token"]" />
        <!-- كلمة المرور -->
        <div class="password-container">
            <span class="circle one"></span>
            <span class="circle two"></span>
            <input type="password" id="password1" name="Password" placeholder="password" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!#$%^&*])[A-Za-z\d!#$%^&*]{8,}$"
                   oninvalid="this.setCustomValidity('The password must contain at least 8 characters, including an uppercase letter, a lowercase letter, a number, and a special symbol.')"
                   oninput="this.setCustomValidity('')">
            <i class="bx bx-show toggle-password" id="toggle1"></i>
        </div>

        <!-- تأكيد كلمة المرور -->
        <div class="password-container">
            <input type="password" id="password2" name="ConfirmPassword" placeholder="Confirm password" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!#$%^&*])[A-Za-z\d!#$%^&*]{8,}$"
                   oninvalid="this.setCustomValidity('The password must contain at least 8 characters, including an uppercase letter, a lowercase letter, a number, and a special symbol.')"
                   oninput="this.setCustomValidity('')">
            <i class="bx bx-show toggle-password" id="toggle2"></i>
        </div>

        <button type="submit">submit</button>
    </form>
</div>

<script>
    // toggle للباسورد الأول
    const toggle1 = document.getElementById('toggle1');
    const password1 = document.getElementById('password1');

    toggle1.addEventListener('click', () => {
      const type = password1.type === 'password' ? 'text' : 'password';
      password1.type = type;
      toggle1.classList.toggle('bx-show', type === 'password');
      toggle1.classList.toggle('bx-hide', type === 'text');
    });

    // toggle للباسورد الثاني
    const toggle2 = document.getElementById('toggle2');
    const password2 = document.getElementById('password2');

    toggle2.addEventListener('click', () => {
      const type = password2.type === 'password' ? 'text' : 'password';
      password2.type = type;
      toggle2.classList.toggle('bx-show', type === 'password');
      toggle2.classList.toggle('bx-hide', type === 'text');
    });
</script>