:root {
    --main-log: #0d2c54;
}
::-webkit-scrollbar {
    width: 10px;
    box-shadow: 0 0 25px var(--main-color);
}
::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 5px;
}
::-webkit-scrollbar-track {
    background-color: var(--bg-color);
    width: 50px;
}
.Programming-container {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    padding: 6rem 6rem;
}

.Programming-info h4 {
    font-size: 24px;
}



.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

    .modal.show {
        display: flex !important;
    }

@media (max-width: 1285px) {
    .Programming-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1200px) {
    
}

@media (max-width: 991px) {
    .Programming-container {
        grid-template-columns: repeat(2, 1fr); 
    }
}
@media (max-width: 767px) {
    .Programming-container {
        grid-template-columns: repeat(1, 1fr); 
        padding: 2rem 2rem;
    }
}

@media (max-width: 480px) {
    .Programming-container {
        grid-template-columns: repeat(1, 1fr);
    }
}


/* @media (max-width: 1285px) {
    .Programming-container {
        grid-template-columns: repeat(3, 1fr);
    }
} */
